.DS_Store
project/.DS_Store
*.map
project/bin-debug/Main.js
project/bin-debug/Main.js.map
project/bin-debug/Player.js
project/bin-debug/Player.js.map
project/bin-debug/ui/UILoading.js
project/bin-debug/ui/UILoading.js.map
project/bin-debug/ui/UIProgress.js
project/bin-debug/ui/UIProgress.js.map
project/bin-debug/block/BlockCircle.js
project/bin-debug/block/BlockCircle.js.map
project/bin-debug/block/BlockRect.js
project/bin-debug/block/BlockRect.js.map
project/bin-debug/block/Wall.js
project/bin-debug/block/Wall.js.map
project/bin-debug/block/WeightBlock.js
project/bin-debug/block/WeightBlock.js.map
project/bin-debug/objects/FlyCircle.js
project/bin-debug/objects/FlyCircle.js.map
project/bin-debug/objects/FlyConfig.js
project/bin-debug/objects/FlyConfig.js.map
project/bin-debug/objects/FlyObject.js
project/bin-debug/objects/FlyObject.js.map
project/bin-debug/objects/FlyRect.js
project/bin-debug/objects/FlyRect.js.map
project/bin-debug/objects/FlyTools.js
project/bin-debug/objects/FlyTools.js.map
project/bin-debug/obstacle/Traps.js
project/bin-debug/obstacle/Traps.js.map
project/bin-debug/obstacle/WeightTraps.js
project/bin-debug/obstacle/WeightTraps.js.map
project/bin-debug/obstacle/WindTraps.js
project/bin-debug/obstacle/WindTraps.js.map
project/bin-debug/property/Plane.js
project/bin-debug/property/Plane.js.map
project/bin-debug/property/Candy.js
project/bin-debug/property/Candy.js.map
project/bin-debug/scene/BattleScene.js
project/bin-debug/scene/BattleScene.js.map
project/bin-debug/scene/BattleTouchNode.js
project/bin-debug/scene/BattleTouchNode.js.map
project/bin-debug/scene/SceneManager.js
project/bin-debug/scene/SceneManager.js.map
project/bin-debug/scene/TiledMapObject.js
project/bin-debug/scene/TiledMapObject.js.map
project/bin-debug/scene/ObjectManager.js
project/bin-debug/scene/ObjectManager.js.map
project/bin-debug/scene/BattleSceneContact.js
project/bin-debug/scene/BattleSceneContact.js.map
project/bin-debug/scene/BattleSceneFactory.js
project/bin-debug/scene/BattleSceneFactory.js.map
project/bin-debug/obstacle/AiTraps.js
project/manifest.json
project/bin-debug/property/CandyArray.js
project/bin-debug/scene/TiledMapGroup.js
project/bin-debug/scene/SceneManager.js
project/bin-debug/scene/ObjectManager.js
project/bin-debug/objects/FlyMusic.js
project/bin-debug/obstacle/MoveTraps.js
project/bin-debug/objects/FlyMusic.js
